body {
    display:flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
    align-items: center
}

.block {
    width: 336px;
    /* height: 236px; */
    border: 2px solid #c3c3c3;
    border-radius: 10px;  
    position: relative;
 }

.header {
    border-top: 20px solid yellow;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    color:black;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    padding: 10px;
    padding-top: 17px;
 }

 .sort-item {
    display: flex;
    justify-content: flex-end;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 7px;
   
 }
   
.sort-item-button {
   min-height: 25px;
   min-width: 25px;
   padding: 15px;
   background-image: url('./pictures/icon-sort.svg');
   background-repeat: no-repeat;
   background-position-x: center;
   background-position-y: center;
   background-color: transparent;
   border: none;
 }

 .wrapper {
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    padding: 0px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 18px;
    max-height: 50vh;
    overflow-y: auto;

 }

 .row-item {
    display: grid;
    grid-template-columns: 42px 1fr 40px;
    min-height: 35px;
    border-radius: 10px;
    background-color: transparent;
 }
 
 .dragItem {
    grid-column: 1/2;
    background-image: url('./pictures/drag-icon.svg');
   background-repeat: no-repeat;
   background-position-x: center;
   background-position-y: center;
   background-color: transparent;
   border: none;

 }

 .task {
    grid-column: 2/3;
    background-color: transparent;
    border: none;
 }

 .delItem {
    grid-column: 3/4;
    background-image: url('./pictures/del-icon.svg');
   background-repeat: no-repeat;
   background-position-x: center;
   background-position-y: center;
   background-color: transparent;
   border: none;

 }


.addButton {
    position: relative;
    padding: 10px;
     background-color: #833AE0;
    border: none;
    width: 160px;
    height: 42px;
    border-radius: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    /* vertical-align: middle; */
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
 }
 
 .addButton::before {
    content: '';
    background-image: url('./pictures/add-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    background-color: rgba(153, 83, 241, 1);
    height: 42px;
    width: 42px;
    border-radius: 50%;
 }
 
