body {
     display:flex;
     justify-content: center;
     align-content: center;
     min-height: 100vh;
     margin: 0;
     padding-top: 100px;
     padding-bottom: 100px;
     box-sizing: border-box;
}

.block {

    width: 336px;
    /* height: 236px; */
    border: 2px solid #c3c3c3;
    border-radius: 10px;  
}
.header {
    border-top: 20px solid yellow;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    color:black;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    padding-top: 45px;
    padding-bottom: 157px;

}

.dragItem {
    Group 36
}

.addButton {
    /* box-sizing: content-box; */
    background-color:#9953F1;
    border-collapse:collapse;
    width: 42px;
    height: 12px;
    border-radius: 25px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    padding-top: 175px;
    padding-bottom: 19px;
   

    /* 
top: -951px
left: 144px */


  
}

.addButton2 {
    background-color: #833AE0;
    border-collapse: collapse;
    width: 160px;
    height: 44px;
    border-radius: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    /* vertical-align: middle; */
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}





#Group36 {
position: absolute;
width: 12px;
height: 12px;
left: 451px;
top: 363px;

}

#Ellipse2 {
position: absolute;
width: 4px;
height: 4px;
left: 451px;
top: 363px;

background: #C4C4C4;
}


#Ellipse3 {
position: absolute;
width: 4px;
height: 4px;
left: 451px;
top: 371px;

background: #C4C4C4;
}


#Ellipse5 {
position: absolute;
width: 4px;
height: 4px;
left: 459px;
top: 363px;

background: #C4C4C4;
}


#Ellipse6 {
position: absolute;
width: 4px;
height: 4px;
left: 459px;
top: 371px;

background: #C4C4C4;
}
